/* Configurações Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #055a05;
  --cor-secundaria: #f4bfbf;
  --cor-destaque1: #264653;
  --cor-destaque2: #efe5f9;
  --cor-branca: #ffffff;
  --cor-cinza-claro: #e0e0e0; 

  --fonte-titulo: "Times New Roman", Georgia, serif;
  --fonte-body: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--fonte-body);
  background-color: var(--cor-branca);
}

/* Limitador de Largura do Layout */
header, main, footer {
  width: 840px;
  margin: 20px auto;
}

h1, h2,p {
  font-family: var(--fonte-titulo);
  text-align: center;
  margin-bottom: 3px;
}

/* HEADER (Cabeçalho) */
header {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  background-color: var(--cor-cinza-claro); 
  padding: 1rem;
  border: 1px solid var(--cor-destaque1);
}

nav ul {
  display: flex;
  justify-content: flex-end; 
  gap: 15px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--cor-destaque1);
  background-color: var(--cor-branca);
  padding: 0.5rem 1rem;
  border: 1px solid var(--cor-destaque1);
}

.hero {
  position: relative; 
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--cor-destaque1);
}

.hero > img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1 {
  position: absolute; 
  top: 20px;
  left: 50%;
  transform: translateX(-50%); 
  color: var(--cor-primaria);  
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 5px 15px;
  border-radius: 4px;
}

.hero article {
  position: absolute; 
  bottom: 20px;       
  left: 20px;
  right: 20px;
  background-color: var(--cor-destaque2); 
  border: 1px solid var(--cor-destaque1);   
  
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero article p {
  color: var(--cor-destaque1); 
}

.hero article img {
  width: 100px;
  height: auto;
  border: 1px solid var(--cor-destaque1);
}

/* SECTION HISTÓRIA */
.historia-section {
  border: 1px solid var(--cor-destaque1);
  background-color: var(--cor-cinza-claro);
  padding: 20px;
  margin-bottom: 20px;
}

.historia-section h2 {
  color: var(--cor-primaria); 
}

.historia-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.historia-container p {
  flex: 1;
  text-align: justify;
  color: var(--cor-destaque1); 
}

.img-historia {
  width: 180px;
  height: auto;
  border: 1px solid var(--cor-destaque1);
}

/* SECTION AVENTURA */
.aventura-section {
  border: 1px solid var(--cor-destaque1);
  padding: 20px;
  margin-bottom: 20px;
}

.aventura-section h2 {
  color: var(--cor-primaria); 
}

.galeria {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.galeria figure {
  flex: 1;
  text-align: center;
}

.galeria img {
  width: 43%;
  height: auto;
  border: 1px solid var(--cor-destaque1);
  background-color: var(--cor-cinza-claro);
  padding: 5px;
}

.galeria figcaption {
  margin-top: 5px;
  font-size: 14px;
  color: var(--cor-destaque1); 
}

/* FOOTER rodapé */
footer {
  background-color: var(--cor-secundaria); 
  border: 1px solid var(--cor-destaque1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

footer p {
  color: var(--cor-destaque1); 
  font-weight: bold; 
}
.redes-sociais {
  display: flex;
  gap: 10px;
}

.redes-sociais img {
  width: 40px;
  height: 40px;
  border: 1px solid var(--cor-branca);
  background-color: var(--cor-branca);
}

.mapa {
  border: 0;
}