* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-body);
  color: var(--cor-destaque1);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
  text-align: center;

}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}
.hero article img {
    width: 150px;
    height: auto;
}
.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--cor-destaque1);
  color: var(--cor-branca);

.hero article {
  position: absolute;

  top: 120px;

  right: 20px;

  background-color: var(--cor-destaque2);

  padding: 10px;

  display: flex;

  align-items: center;

  gap: 1rem;
}

:root {
  --cor-primaria: #055a05;
  --cor-secundaria: #f4a261;
  --cor-destaque1: #264653;
  --cor-destaque2: #e9c46a;
  color: var(--cor-branca);

  --fonte-titulo: "Times New Roman", Georgia, serif;
  --fonte-body: Arial, Helvetica, sans-serif;
}


header {
    display: grid;

    grid-template-columns: 200px 1fr;

    align-items: center;

    background-color: var(--cor-destaque1);

    padding: 1rem;
}
nav a {
    text-decoration: none;

    color: var(--cor-branca);

    font-weight: bold;

    padding: 0.5rem 1rem;
}
nav ul {
    display: flex;

    justify-content: space-evenly;

    align-items: center;

    list-style: none;
}

footer {
    background-color: var(--cor-secundaria);

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 1rem;
}