
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #222;
    background: #ffffff;
}

main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid rgb(13, 157, 92);
  padding: 2px;
  box-shadow: 0 0 30px rgb(11, 48, 10);
}

nav {
  background-color: #1f4d1f;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
}

h1 {
  color: rgb(2, 2, 55);
}

img {
  width: 150px;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

aside {
    width: 20em;
    margin: 1em auto;
    border: 1px solid #999;
    padding: 1em;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
  margin-top: 15px;
  border-top: 1px solid #999;
  text-align: center;
  padding: 10px;
}
