nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: rgb(79, 22, 177);
  display: block;
  padding: 20px;
}

h1 {
  color: rgb(2, 2, 55);
}

img {
  width: 150px;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 10px;
}
